html{
    color: aqua;
    background-image: url("images/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    margin: 2vw 2vw 2vw 2vw;
    background: linear-gradient(0deg, rgb(33, 33, 233), rgba(33, 33, 233, 0));
}