.cards{
    display: flex;
    flex-direction: row;
}

.card{
    margin-top: 2vw;
    color: aqua;
    background-color: black;
    position: relative;
    margin-left: 10vw;
    text-align: center;
    width: 20vw;
    height: 20vw;
    transition: 0.7s;
}

.card_img{
    width: 75%;
    height: auto;
    transition: 0.5s;
}

.card:hover .card_img{
    scale: 1.2;
    box-shadow: 1vw 1vh 1vw 1vh rgba(79, 16, 215, 0.63);
}

.card:hover{
    scale: 1.1;
    box-shadow: 1vw 1vh 1vw 1vh rgba(18, 201, 214, 0.53);
}

.card_h{
    margin-top: 2vw;
    font-size: 2vw;
}

.card_p{
    display: none;
    font-size: 1vw;
}

.card:hover .card_p{
    display: block;
}

@media  screen and (max-width: 600px){
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 75vw;
        height: 20vh;
        margin: 20vw auto;
        scale: 1.1;
        box-shadow: 2vw 2vh 2vw 2vh rgba(18, 201, 214, 0.53);
    }
    .card_img{
        scale: 1.2;
        box-shadow: 1vw 1vh 1vw 1vh rgba(79, 16, 215, 0.63);
    }
    .card_p{
        display: block;
        font-size: 4vw;
    }
    .card_h{
        margin-top: 8vw;
        font-size: 8vw;
    }
}