html{
    background-image: url("images/WhatsApp\ Image\ 2023-01-10\ at\ 22.56.00.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    margin: 2vw;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    color: white;
    text-align: center;
    font-family: 'Rochester';
}

#nav-icon{
    font-size: 50px;
    color: black;
    display: none;
}

.navbar{
    position: fixed;
    margin: 0 4vw;
    width: 90%;
    height: auto;
    background-color: red;
    border-radius:30px ;
    z-index: 1;
}

#link-rnxg{
    margin-left: 2vw;
}

#home_link{
    margin-left: 38vw;
}

#navul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: 2vw;
}

.navbar a:hover{
    color: green;
}

header{
    padding-top: 10vw;
}

header h1{
    font-size: 150px;
    margin-bottom: 0vw;
}

header p{
    margin: 0 auto;
    width: 700px;
    font-size: 30px;
    margin-bottom: 5vw;
}

.about_rnxg{
    padding-top: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.about_rnxg h1{
    font-size: 150px;
    margin-bottom: 0;
}

.about_rnxg p{
    margin: 0 auto;
    width: 700px;
    margin-top: 0;
    font-size: 30px;
}

.about_ramgeddon{
    margin-top: 15vw;
    margin-bottom: 10vw;
}

.about_ramgeddon h1{
    font-size: 150px;
    margin-bottom: 0;
}

.about_ramgeddon p{
    margin: 0 auto;
    width: 700px;
    margin-top: 0;
    font-size: 30px;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin: 5vw 10vw;
    padding: 20px 10px;
}

.card{
    margin-top: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    width: 20vw;
    min-width: 250px;
    height: 20vw;
    min-height: 300px;
    object-fit: cover;
    transition: 0.7s;
    border-radius: 2vw;
    border-bottom: 4px solid #f20606;
}

.cards::after {
    content: " ";
    width: 350px;
}

#card_h1{
    font-size: 150px;
    margin-bottom: 2vw;
}

.card_img{
    border-radius: 0.5vw;
    width: 75%;
    height: auto;
    transition: 0.5s;
    border-bottom: 4px solid #f20606;
}

.card:hover .card_img{
    scale: 1.2;
    box-shadow: 0vw 0vw 1vw 1vw rgba(215, 16, 16, 0.63);
}

.card:hover{
    scale: 1.1;
    box-shadow: 0vw 0vw 1vw 1vw rgba(214, 18, 18, 0.53);
}

.card_h{
    margin-top: 2vw;
    font-size: 35px;
}

.card_p{
    margin: -2vw auto;
    display: none;
    font-size: 20px;
}

.card:hover .card_p{
    display: block;
}

.poster_images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 0 auto;
    padding: 20px 10px;
}

.poster_img{
    object-fit: cover;
    width: 400px;
    min-width: 400px;
    min-height: 400px;
    height: 500px;
    border-radius: 2vw;
    border-bottom: 2vw solid red;
}

video{
    margin: 5vw auto;
    border-bottom: 2vw solid red;
}
  
.footer {
    border-top: 10px solid red;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p{
    width: 75vw;
    color: #fff;
    margin: 10px 0 10px 0;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
  
.social-icon, .menu {
    display: flex;
}
  
.social-icon_item, .menu_item {
    list-style: none;
}
  
.social-icon_link {
    font-size: 40px;
    color: #fff;
    margin: 50px 5vw;
    display: inline-block;
    transition: 0.3s;
}

.social-icon_link:hover {
    transform: translateY(-10px);
}
  
.menu_link {
    font-size: 40px;
    color: #fff;
    margin: 0 3vw;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}
  
.menu_link:hover {
    opacity: 1;
}

@media screen and (max-width: 1110px){
    #home_link{
        margin-left: 30vw;
    }
}

@media screen and (max-width: 1000px){
    #home_link{
        margin-left: 20vw;
    }
}

@media screen and (max-width: 800px){
    #home_link{
        margin-left: 7.8vw;
    }
    header p{
        width: 100%;
    }
    .about_rnxg p{
        width: 100%;
    }
    .about_ramgeddon p{
        width: 100%;
    }
}
  
@media  screen and (max-width: 600px){
    html{
        background-image: url("images/WhatsApp\ Image\ 2023-01-10\ at\ 22.56.00.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    body{
        margin: 2vw;
        background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
        color: white;
        text-align: center;
        font-family: 'Rochester';
    }
    .navbar{
        position: fixed;
        margin: 0 0;
        width: auto;
        height: auto;
        background-color: red;
        border-radius: 30px;
        z-index: 1;
    }
    #navul{
        display: none;
        list-style-type: none;
        padding: 0 10px;
    }
    #nav-icon{
        display: block;
    }
    .navbar a{
        margin-left: 0;
        text-decoration: none;
        color: black;
        font-size: 50px;
    }
    .navbar:hover #navul{
        display: flex;
        flex-direction: column;
    }
    header{
        padding-top: 25vw;
    }
    header h1{
        font-size: 100px;
        margin-bottom: 0vw;
    }
    header p{
        margin: 0 auto;
        width: 100%;
        font-size: 40px;
        margin-bottom: 5vw;
    }
    .about_rnxg{
        padding-top: 25vw;
        margin-bottom: 5vw;
    }
    .about_rnxg h1{
        font-size: 100px;
        margin-bottom: 0;
    }
    .about_rnxg p{
        margin: 0 auto;
        width: 100%;
        font-size: 40px;
    }
    .about_ramgeddon{
        margin-top: 25vw;
        margin-bottom: 10vw;
    }
    .about_ramgeddon h1{
        font-size: 100px;
        margin-bottom: 0;
    }
    .about_ramgeddon p{
        margin: 0 auto;
        width: 100%;
        font-size: 40px;
    }
    #card_h1{
        font-size: 100px;
    }
    .cards{
        margin-left: -0.5vw;
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 75vw;
        height: 400px;
        margin: 20vw auto;
        scale: 1.1;
        box-shadow: 2vw 2vh 2vw 2vh rgba(214, 18, 18, 0.53);
    }
    .card_img{
        scale: 1.2;
        box-shadow: 1vw 1vh 1vw 1vh rgba(215, 16, 16, 0.63);
    }
    .card_p{
        margin: 2vw auto;
        display: block;
        font-size: 20px;
    }
    .card_h{
        margin-top: 8vw;
        font-size: 30px;
    }
    .poster_images{
        margin-left: -2vw;
        display: flex;
        flex-direction: column;
    }
    .poster_img{
        width: 80vw;
        height: auto;
        margin: 10vw auto;
        border-radius: 5vw;
        border-bottom: 2vw solid red;
    }
    video{
        width: 80vw;
        height: auto;
        margin: 10vw;
        border-bottom: 2vw solid red;
    }
    footer{
        margin-left: 2vw;
        border-top: 4px solid #f20606;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }
    #rnxg_footer{
        font-size: 8vw;
    }
    .inf{
        font-size: 4vw;
    }
    .club{
        margin-left: 0vw;
    }
    .club h2{
        font-size: 6vw;
    }
    .ul_club{
        list-style-type: none;
        font-size: 4vw;
    }
    .other_link{
        margin-top: 0vw;
        margin-left: 0vw;
    }
    .other_link h2{
        font-size: 6vw;
    }
    .ul_other{
        list-style-type: none;
        font-size: 4vw;
    }
    .contactus_link{
        margin-top: 0vw;
        margin-left: 0vw;
    }
    .contactus_link h2{
        font-size: 6vw;
    }
    .ul_contact{
        margin-left: 0;
        list-style-type: none;
        font-size: 4vw;
        display: flex;
        flex-direction: row;
    }
    #email{
        font-size: 4vw;
    }
    .contact_icon{
        margin-left: 12vw;
        width: 4vw;
        height: 4vw;
        background-color: white;
        border-radius: 5vw;
    }
    #last_line{
        padding-bottom: 10vw;
    }
    .link{
        color: #ffffff;
        text-decoration: none;
    }
    .link:hover{
        color: red;
    }
}