@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,100;1,200;1,300;1,400&family=Press+Start+2P&display=swap');

body{
    font-family: 'Poppins';
    margin: 2vw;
    background-color: #080710;
    color: white;
    text-align: left;
}

#rnxg_button{
    position: relative;
    padding: 0.8em 1.8em;
    outline: none;
    border: 1px solid #ffffff00;
    background: #ffffff00;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    width: 150px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
   
#rnxg_button:hover{
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
}
   
#rnxg_button span{
    position: absolute;
}
   
#rnxg_button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
}
   
#rnxg_button:hover span:nth-child(1){
    left: 100%;
    transition: 0.7s;
}
   
#rnxg_button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
}
   
#rnxg_button:hover span:nth-child(3){
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
}
   
#rnxg_button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
}
   
#rnxg_button:hover span:nth-child(2){
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
}
   
#rnxg_button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
}
   
#rnxg_button:hover span:nth-child(4){
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
}
   
#rnxg_button:active{
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
}
   
#rnxg_button:active span:nth-child(1) span:nth-child(2) span:nth-child(2) span:nth-child(2){
    transition: none;
    transition-delay: none;
}
   
   

.svg-frame{
    margin-top: -25vw;
    margin-left: 65vw;
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.svg-frame svg{
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}
  
.svg-frame:hover svg{
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}
  
.svg-frame svg #center{
    transition: .5s;
    transform-origin: center;
}
  
.svg-frame:hover svg #center{
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}
  
#out2{
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}
  
#out3{
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
}
  
#inner3, #inner1{
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
}
  
#center1{
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
}
  
@keyframes rotate16{
    to {
      transform: rotate(360deg);
    }
}

.circle{
    width: 1px;
    height: 1px;
    border-radius: 50vw;
    box-shadow: 5vw 5vw 100vw 10vw blue;
    margin-left: 70vw;
    margin-top: -240px;
}

.navbar{
    margin: 0 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border-radius:30px ;
    z-index: 1;
}

#menu_but{
    float: right;
    display: none;
    color: white;
    width: 80px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(8, 8, 66);
    border: none;
    box-shadow: 1vw 1vw 1vw 0.2vw rgb(5, 5, 45);
}

#navul1{
    float: left;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#navul1 a{
    text-decoration: none;
}

#navul2{
    float: right;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#navul2 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 2vw;
}

#navul2 a:hover{
    background: hsla(161,100%,44%,1);
    background: linear-gradient(90deg,hsla(161,100%,44%,1) 0%,hsla(68,95%,58%,1) 100%);
    background: -webkit-linear-gradient(90deg,hsla(161,100%,44%,1) 0%,hsla(68,95%,58%,1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00DF9A",endColorstr="#DFFA2D",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header{
    padding-top: 10vw;
}

header h1{
    background: hsla(161,100%,44%,1);
    background: linear-gradient(90deg,hsla(161,100%,44%,1) 0%,hsla(68,95%,58%,1) 100%);
    background: -webkit-linear-gradient(90deg,hsla(161,100%,44%,1) 0%,hsla(68,95%,58%,1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00DF9A",endColorstr="#DFFA2D",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    margin-bottom: 0vw;
    text-align: left;
}

header p{
    text-align: left;
    margin: 0 0;
    width: 60vw;
    font-size: 30px;
    margin-bottom: 5vw;
}

#reg_link{
    text-decoration: none;
    display: block;
    width: 150px;
}

#reg_button{
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    width: 150px;
    padding: 3px;
    cursor: pointer;
    transition: all .3s;
}
   
#reg_button:active, #reg_button:hover{
    outline: 0;
}
   
#reg_button span{
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
   
#reg_button:hover span{
    background: none;
}
   
#reg_button:active{
    transform: scale(0.9);
}

.about_rnxg{
    width: 80vw;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    color: #828acb;
    text-align: center;
    padding: 5vw;
    margin: 30vw auto; 
    margin-bottom: 5vw;
}

.about_rnxg h1{
    font-size: 150px;
    margin: 0 0 0 0;
}

.about_rnxg p{
    margin: 0 auto;
    width: auto;
    height: auto;
    margin-top: 0;
    font-size: 30px;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 5vw 10vw;
    padding: 20px 10px;
}

.card{
    margin-top: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    width: 20vw;
    min-width: 250px;
    height: 20vw;
    min-height: 300px;
    object-fit: cover;
    transition: 0.7s;
    border-radius: 2vw;
    border-bottom: 4px solid #ffffff;
}

.cards::after {
    content: " ";
    width: 350px;
}

#card_h1{
    font-size: 100px;
    margin-bottom: 2vw;
    margin-top: 20vw;
    background: rgb(0, 93, 224);
    background: linear-gradient(90deg,rgb(0, 93, 224) 0%,rgb(46, 196, 250) 100%);
    background: -webkit-linear-gradient(90deg,rgb(0, 93, 224) 0%,rgb(46, 196, 250) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00DF9A",endColorstr="#DFFA2D",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card_img{
    border-radius: 0.5vw;
    width: 75%;
    height: auto;
    transition: 0.5s;
    border-bottom: 4px solid #ffffff;
}

.card:hover .card_img{
    scale: 1.2;
    box-shadow: 0vw 0vw 1vw 0.2vw #00ff75;
    border-bottom: 4px solid #00ff75;
}

.card:hover{
    scale: 1.1;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    box-shadow: 0px 0px 30px 10px rgba(0, 255, 117, 0.30);
    border-bottom: 4px solid #00ff75;
}

.card_h{
    margin-top: 2vw;
    font-size: 35px;
    margin-bottom: 0;
}

.card_p{
    margin: 0 auto;
    display: none;
    font-size: 15px;
}

.card:hover .card_p{
    display: block;
}

.shadow__btn{
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
}
  
.shadow__btn:hover{
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
}

.poster_images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    margin: 10vw auto;
    margin-bottom: 0;
    padding: 20px 10px;
}

.poster_img{
    object-fit: cover;
    width: 400px;
    min-width: 400px;
    min-height: 400px;
    height: 500px;
    border-radius: 2vw;
    border-bottom: 0.8vw solid rgb(57, 59, 177);
    box-shadow: 1vw 1vw 1vw 1vw #1c214a;
}

.poster_video{
    text-align: center;
}

iframe{
    margin: 5vw auto;
    border-bottom: 2vw solid rgb(61, 59, 152);
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

#rnxg_footer{
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-70deg,#ff7170,#ffe57f);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 40px;
}

.inf{
    width: 20vw;
    font-size: 20px;
}


.club h2{
    font-size: 40px;
}

.ul_club{
    margin-left: -40px;
    list-style-type: none;
    font-size: 20px;
}


.other_link h2{
    font-size: 40px;
}

.ul_other{
    margin-left: -40px;
    list-style-type: none;
    font-size: 20px;
}

iframe{
    width: 80vw;
    height: 40vw;
}

.contactus_link h2{
    font-size: 40px;
}

.ul_contact{
    margin-left: -40px;
    list-style-type: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

#email{
    font-size: 20px;
}

.contact_icon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    padding: 8px 8px;
    max-width: 1.5vw;
    max-height: 1.5vw;
    background-color: white;
    border-radius: 5vw;
}

.contact_icon:hover{
    margin-top: -5px;
}

#last_line{
    padding-bottom: 5vw;
}

.link{
    color: #ffffff;
    text-decoration: none;
}

.link:hover{
    color: rgb(94, 255, 0);
}

.last_line{
    text-align: center;
}

@media screen and (max-width: 1000px){
    .svg-frame{
        margin-left: 5vw;
        margin-top: 5vw;
    }
    .circle{
        margin-left: 15vw;
        margin-top: -15vw;
    }
    .inf{
        width: 30vw;
    }
    .contact_icon{
        max-width: 2.5vw;
        max-height: 2.5vw;
    }
}

@media  screen and (max-width: 700px){
    #navul2{
        display: none;
    }
    #menu_but{
        display: block;
    }
    .menu_but:hover +.navul2{
        display: flex;
        flex-direction: column;
    }
    header h1{
        font-size: 80px;
    }
    header p{
        font-size: 20px;
    }
    .about_rnxg h1{
        font-size: 100px;
    }
    .about_rnxg p{
        font-size: 20px;
    }
    #card_h1{
        font-size: 100px;
    }
    .card_img{
        scale: 1.2;
        box-shadow: 0vw 0vw 1vw 0.2vw #00ff75;
        border-bottom: 4px solid #00ff75;
    }
    .card{
        margin-top: 10vw;
        scale: 1.1;
        background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
        box-shadow: 0px 0px 30px 10px rgba(0, 255, 117, 0.30);
        border-bottom: 4px solid #00ff75;
    }
    .card_p{
        display: block;
    }
    .inf{
        width: 50vw;
    }
    footer{
        gap: 20px;
    }
    .contact_icon{
        max-width: 3.5vw;
        max-height: 3.5vw;
    }
}

@media screen and (max-width: 550px) {
    header h1{
        font-size: 60px;
    }
    .about_rnxg h1{
        font-size: 80px;
    }
    .about_rnxg p{
        margin-left: -15vw;
        width: 80vw;
        font-size: 18px;
    }
    #card_h1{
        font-size: 80px;
    }
    #rnxg_button{
        position: relative;
        padding: 1em 1.8em;
        outline: none;
        border: 1px solid #30303000;
        background: #21212100;
        color: #828acb;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 10vw;
        width: 90vw;
        height: auto;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 2vw;
        box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
        transition-delay: 0.6s;
        background: #ae00af;
        background: linear-gradient(to top right, #ae00af, #001eff);
        color: #bfbfbf;
        box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
        transition: 0.8s;
    } 
    #rnxg_button span{
        position: absolute;
    }  
    #rnxg_button span:nth-child(1){
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #ae00ff);
        left: 100%;
        transition: 0.7s;
    }   
    #rnxg_button span:nth-child(3){
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #001eff);
        right: 100%;
        transition: 0.7s;
        transition-delay: 0.35s;
    }      
    #rnxg_button span:nth-child(2){
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #ae00ff);
        top: 100%;
        transition: 0.7s;
        transition-delay: 0.17s;
    } 
    #rnxg_button span:nth-child(4){
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #001eff);
        bottom: 100%;
        transition: 0.7s;
        transition-delay: 0.52s;
    }  
    #rnxg_button span:nth-child(1) span:nth-child(2) span:nth-child(2) span:nth-child(2){
        transition: 0.8s;
        transition-delay: 0.6;
    }
    .contact_icon{
        max-width: 5vw;
        max-height: 5vw;
    }
}

@media screen and (max-width: 420px) {
    header h1{
        font-size: 40px;
    }
    .about_rnxg h1{
        font-size: 60px;
    }
    .about_rnxg p{
        margin-left: -15vw;
        width: 80vw;
        font-size: 18px;
    }
    #card_h1{
        font-size: 60px;
    }
    .poster_img{
        min-width: 0;
        min-height: 0;
        width: 90vw;
        height: auto;
    }
}